{% extends 'base.html' %} 

{% block title %}Todo List{% endblock %} 

{% block headline %}This is the {{page_title}}.{% endblock %}

{% block content %} 


{%comment %} {% for task in all_task %}
<li>{{task.task}} - {{task.is_completed}}</li>
<br />
{% endfor %} {% endcomment %}

<table class="table ">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Task Name</th>
      <th scope="col">Status</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for task in all_task %} {% if task.is_completed %}
    <tr class="table-success">
      <th scope="row">{{task.id}}</th>
      <td>{{task.task}}</td>
      <td>Completed</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
    {% else %}
    <tr class="table-danger">
      <th scope="row">{{task.id}}</th>
      <td>{{task.task}}</td>
      <td>Not Completed</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
    {% endif %} {% endfor %}
  </tbody>  
</table>

{% endblock %}
